<div *ngIf="isLoggedIn()">
    <button class="btn btn-succes" (click)="logout()">Logout</button>
</div>
<div>
    <h1>Reserveer lokaal</h1>
</div>
<div class="row">
        <div class="col-md-5">
          <form [formGroup]="this.lokaalaanvraag.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <input type="hidden" formControlName="status"  class="form-control" placeholder="progress">
            <div class="form-group">
              <label>Datum</label>
              <input type="date" id="datum" formControlName="datum" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.datum.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.datum.errors">
                This field is required.</div>
            </div>
            <div class="form-group">
              <label>Begin tijd</label>
              <input type="time" id="begintijd" formControlName="begintijd" class="form-control"  [ngClass]="{'is-invalid':submitted && formControls.begintijd.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.begintijd.errors">
                Invalid tijd.</div>
            </div>
            <div class="form-group">
                    <label>Eind tijd</label>
                    <input type="time" id="eindtijd" formControlName="eindtijd"  class="form-control" [ngClass]="{'is-invalid':submitted && formControls.eindtijd.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && formControls.eindtijd.errors">
                      Invalid tijd</div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </form>
          <div class="alert alert-info"  *ngIf="showSuccessMessage">
            Submitted successfully.
          </div>
          <div class="alert alert-info"  *ngIf="showNotSuccessMessage">
                Submitted unsuccessfully.
              </div>
        </div>
      </div>
