<div *ngIf="isLoggedIn()">
  <button class="btn btn-succes" (click)="logout()">Logout</button>
</div>
<div>
  <h1>Reserveer lokaal</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="form">
        <label>begintijd</label>
        <select formControlName="begintijd" id="beginTijd">

        </select>
      <mat-form-field class="form-input">
        <label>duur</label>
        <select formControlName="duur" id="duur">
          <option value="0:30">0:30</option>
          <option value="1:00">1:00</option>
          <option value="1:30">1:30</option>
          <option value="2:00">2:00</option>
          <option value="2:30">2:30</option>
          <option value="3:00">3:00</option>
          <option value="3:30">3:30</option>
          <option value="4:00">4:00</option>
        </select>
        <mat-error *ngIf="duur.invalid && duur.touched">
          Vul alstublieft een begintijd in
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-input">
        <label>datum</label>
        <input matInput type="date" id="datum" formControlName="datum">
        <mat-error *ngIf="datum.invalid && datum.touched">
          Vul alstublieft een datum in
        </mat-error>
      </mat-form-field>
      <button (click)="aanvraag()">aanvraag</button>
    </form>
  </div>
</div>
