<div *ngIf="isLoggedIn()">
    <button class="btn btn-succes" (click)="logout()">Logout</button>
</div>
<div>
    <h1>Reserveer lokaal</h1>
</div>
<div class="row">
        <div class="col-md-5">
          <form [formGroup]="form">
            <mat-form-field class="form-input" >
              <label>begintijd</label>
              <input matInput  formControlName="begintijd">
              <mat-error *ngIf="begintijd.invalid && begintijd.touched">
                  Vul alstublieft een begintijd in
              </mat-error>
          </mat-form-field>
          <mat-form-field class="form-input" >
            <label>eindtijd</label>
            <input matInput  formControlName="eindtijd">
            <mat-error *ngIf="eindtijd.invalid && eindtijd.touched">
                Vul alstublieft een begintijd in
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-input" >
          <label>datum</label>
          <input matInput  formControlName="datum">
          <mat-error *ngIf="datum.invalid && datum.touched">
              Vul alstublieft een datum in
          </mat-error>
      </mat-form-field>
      <button (click)="aanvraag()">aanvraag</button>
               </form>
        </div>
      </div>
