<form class="form-inline">
    </form>
    <table class="table table-sm">
      <thead>
        <th>datum</th>
        <th>begintijd</th>
        <th>eindtijd</th>
      </thead>
      <ng-container *ngFor="let lokaalaanvraag of lokaalaanvragenlijst">
        <tr class="table-dark">
          <td>{{lokaalaanvraag.datum}}</td>
          <td>{{lokaalaanvraag.begintijd}}</td>
          <td>{{lokaalaanvraag.eindtijd}}</td>
          <td>
              <button class="btn btn-outline-info" (click)="onUpdate(lokaalaanvraag.key)">lokaal verzoek goedkeuren</button>
              <button class="btn btn-outline-danger" (click)="onDelete(lokaalaanvraag.key)">lokaal verzoek afwijzen</button>
              <button class="btn btn-outline-danger" (click)="downloadImage(lokaalaanvraag.key)">qr-code genereren</button>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="alert alert-danger" *ngIf="showDeletedMessage">
      lokaalverzoek afgekeurd.
</div>
<div class="alert alert-danger" *ngIf="showLokaalMessage">
  lokaal verzoek goedgekeurd.
</div>
<div class="alert alert-danger" *ngIf="showQrcodeMessage">
  Qr code is gegenereerd.
</div>
<div id="divQrCode">
</div>
<ngx-qrcode hidden id="qrCode" [qrc-element-type]="elementType" [qrc-value] = "value"></ngx-qrcode>
