<form class="form-inline">
    </form>
    <h1>Lokaal reservaties:</h1>
    <table id="lokaalaanvragen" class="table table-sm">
      <thead>
        <th>datum</th>
        <th>begintijd</th>
        <th>duur</th>
      </thead>
      <ng-container *ngFor="let lokaalaanvraag of lokaalaanvragenlijst">
        <tr class="table-dark" *ngIf="lokaalaanvraag.status == 0">
          <td>{{lokaalaanvraag.datum}}</td>
          <td>{{lokaalaanvraag.begintijd}}</td>
          <td>{{lokaalaanvraag.duur}}</td>
          <td>
              <button class="btn btn-outline-info" (click)="onUpdate(lokaalaanvraag.id)">lokaal verzoek goedkeuren</button>
              <button class="btn btn-outline-danger" (click)="onDelete(lokaalaanvraag.id)">lokaal verzoek afwijzen</button>
              <button class="btn btn-outline-danger" (click)="downloadImage(lokaalaanvraag.id)">qr-code genereren</button>
          </td>
        </tr>
      </ng-container>
    </table>
<div class="alert alert-danger" *ngIf="showQrcodeMessage">
  Qr code is gegenereerd.
</div>
<div id="divQrCode">
</div>
<ngx-qrcode hidden id="qrCode" [qrc-element-type]="elementType" [qrc-value] = "value"></ngx-qrcode>
