<div>
  <form class="form" [formGroup]="form">
    <h3 class="form-title">Aanvraag formulier</h3>
    <mat-form-field class="form-input" >
        <label>naam</label>
        <input matInput  formControlName="naam" name="naam">
        <mat-error *ngIf="naam.invalid && naam.touched">
            Vul alstublieft een naam in
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" >
        <label>wachtwoord</label>
        <input matInput   formControlName="wachtwoord" name="wachtwoord">
        <mat-hint align="end">Minimaal 8 karakters</mat-hint>
        <mat-error *ngIf="wachtwoord.invalid && wachtwoord.touched">
            Vul alstublieft een wachtwoord in
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" >
        <label>email</label>
        <input matInput   formControlName="email" name="email">
        <mat-hint align="end">@ en . bevatten en 6 karakters</mat-hint>
        <mat-error *ngIf="email.invalid && email.touched">
            Vul alstublieft een correct email in
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" >
        <label>achternaam</label>
        <input matInput formControlName="achternaam" name="achternaam">
        <mat-error *ngIf="achternaam.invalid && achternaam.touched">
            Vul alstublieft een achternaam in
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" >
        <label>studentnummer</label>
        <input matInput formControlName="studentnummer" name="studentnummer" type="number">
        <mat-error *ngIf="studentnummer.invalid && studentnummer.touched">
            Vul alstublieft een studentnummer in
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" >
        <label>opleiding</label>
        <input matInput formControlName="opleiding" name="opleiding">
        <mat-error *ngIf="opleiding.invalid && opleiding.touched">
            Vul alstublieft een opleiding in
        </mat-error>
    </mat-form-field>
<button mat-raised-button color="primary" name="aanvraag" [disabled]='!form.valid' (click)="registerAanvraag()">Send!</button>
</form>
</div>