<div class="row">
        <div class="col-md-5">
          <form [formGroup]="this.aanvraag.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <input type="hidden" formControlName="status" class="form-control" placeholder="progress" >
            <div class="form-group">
              <label>Voornaam</label>
              <input formControlName="naam" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.naam.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.naam.errors.status == invalid">
                This field is required.</div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input [(ngModel)]="Email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
                Invalid email address.</div>
            </div>
            <div class="form-group">
              <label>Achternaam</label>
              <input formControlName="achternaam" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.achternaam.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.achternaam.errors">
                <label *ngIf="formControls.achternaam.errors.required">This field is required.</label>
              </div>
            </div>
            <div class="form-group">
              <label>Studentnummer</label>
              <input type="number" formControlName="studentnummer" class="form-control">
            </div>
            <div class="form-group">
                <label>Opleiding</label>
                <input formControlName="opleiding" class="form-control">
            </div>
            <div class="form-group">
                    <label>Wachtwoord</label>
                    <input [(ngModel)]="Wachtwoord" formControlName="wachtwoord" class="form-control">
                </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </form>
          <div class="alert alert-info"  *ngIf="showSuccessMessage">
            accountverzoek succesvol.
          </div>
          <div class="alert alert-info"  *ngIf="showNotSuccessMessage">
            accountverzoek niet gelukt. Alle velden moet ingevuld zijn.
              </div>
        </div>
      </div>
