<div *ngIf="isLoggedIn()">
    <button class="btn btn-succes" (click)="logout()">Logout</button>
</div>
<form class="form-inline">
  <h1>Registratie aanvragen:</h1>
      <table id="aanvragen" class="table table-sm">
        <thead>
          <th>Naam</th>
          <th>Email</th>
          <th>Opleiding</th>
          <th>Achternaam</th>
          <th>Studentnummer</th>
          <th>Wachtwoord</th>
        </thead>
        <ng-container *ngFor="let aanvraag of lokaalaanvragen">
            <tr class="table-dark" *ngIf="aanvraag.status == 0">
              <td>{{aanvraag.naam}}</td>
              <td>{{aanvraag.email}}</td>
              <td>{{aanvraag.opleiding}}</td>
              <td>{{aanvraag.achternaam}}</td>
              <td>{{aanvraag.studentnummer}}</td>
              <td>{{aanvraag.wachtwoord}}</td>
              <td>
                  <button class="btn btn-outline-info" (click)="onSubmit(aanvraag.id, aanvraag.wachtwoord, aanvraag.email)">account verzoek goedkeuren</button>
                  <button class="btn btn-outline-danger" (click)="onDelete(aanvraag.id)">account verzoek afwijzen</button>
              </td>
            </tr>
        </ng-container>
      </table>
    </form>
<app-lokaalaangevraagd></app-lokaalaangevraagd>

